*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fdfffc;

}
/* ---------Navigation Bar---------- */
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09b6d0;
    border-bottom: 1px solid black;
    padding: 10px;
}
.container-logo{
    color: #000;
    text-align: center;
}
.container-menu ul{
    list-style: none;
}
.container-menu li{
    display: inline-block;
}
.container-menu a{
    text-decoration: none;
    margin: 10px;
    color: #000;
}
/* -------------Hero Section-------------- */
.container-hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(images/thomas-serer-r-xKieMqL34-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}
.hero-intro{
    color: #09b6d0;
    margin-top: 150px;
    align-self: flex-start;
}
.hero-card{
    background-color: #09b6d0;
    color: #000;
    border-radius: 20px;
    padding: 20px;
}

/* -----------Competition-------------- */
.container-competition{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.container-competition h2{
    margin-bottom: 10px;
}
.container-competition p{
    margin-bottom: 20px;
    max-width: 900px;
}
.container-competition button{
    border-radius: 10px;
    padding: 5px;
}

/* --------------Months Winner------------- */
.winner{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #90abc3;
}
.container-winner{
    background-color: #90abc3;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.manager-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-award{
    display: flex;
    justify-content: center;
    text-align: center;
}
.row-award{
    margin: 10px;
}
.manager-card .fa-solid{
    font-size: 3.5em;
    margin: 10px;
}
.manager-card h2{
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: center;
}
.team-stats{
    margin: 10px;
    background-color: #98eaef;
    padding: 10px;
    border-radius: 10px;
}
.manager-card h3{
    margin-bottom: 10px;
}
.manager-card p{
    max-width: 500px;
    margin: 10px;
}
.manager-card td.first{
    width: 200px;
}
.container-winner img{
    border-radius: 10px;
    max-height: 400px;
}
.month-team h2{
    text-align: center;
    margin-bottom: 10px;
}


/* --------------Previous Seasons-------------- */
.container-stats{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.stat-card{
    background-color: #09b6d0;
    color: #000;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.stat-card p{
    max-width: 300px;
}


/* -------------Footer------------ */
.container-footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    justify-content: space-around;
    background-color: #09b6d0;
}
.foot-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.foot-logo{
    text-align: center;
    margin: 10px;
}
.foot-logo h2{
    margin-bottom: 10px;
}
.foot-logo i{
    font-size: 2em;
}
.foot-title{
    text-align: center;
}
.foot-about{
    margin: 10px;
}
.container-footer ul{
    list-style: none;
    margin-top: 10px;
    padding: 0;
}
.container-footer a{
    text-decoration: none;
}
.container-footer p{
    max-width: 900px;
}
/* ------------Footer 2nd row------------- */
.container-footer-2{
    background-color: #09b6d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.container-footer-2 h4{
    font-size: 0.9em;
    font-weight: lighter;
    margin-bottom: 10px;
    border-top: 2px solid #fdfffc;
    padding-top: 10px;
    max-width: 400px;
}
.container-footer-2 img{
    width: 60px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
}


